* {
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    transition: all 0.5s;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

:root {
    --base: #202020;
    --white: #ffffff;
    --titan: #fafafa;
    --green: #00cc2c;
    --shadow: 0 0 4px 2px #00000025;
}

/* H  E  A  D  E  R */

header {
    background-color: var(--base);
    display: flex;
    justify-content: space-between;
    

    padding: 10px 20px;
}

header img {
    width: 60px;
}

nav {
    display: flex;
    height: 100%;
    place-content: center;
    gap: 25px;

}

nav a {
    font-size: 24px;
    text-decoration: none;
    color: var(--white);
}

nav.menu {
    display: none;
}

nav.menu button{
    background-color: unset;
}

nav.menu span.material-icons{
    font-size: 24px;
    color: var(--white);
}


@media (max-width: 1080px) {
    header nav {
        display: none;
    }

    nav.logo,
    nav.login-btn,
    nav.menu {
        display: block;

    }

    nav a, nav.menu span.material-icons{
        font-size: 20px;
    }


}

/* MENU */

@keyframes slide{
    0%{
        margin-left: -70%;
    }

    100%{}
}





#header_menu{
    display: none;
    background-color: var(--base);
    width: 70%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    animation: slide 1s;
}

#header_menu nav{
    display: grid;
}

#header_menu button{
    
}




.login-body {
    background-color: #e8e8e8;
    place-content: center;
    min-height: 100vh;
}

.login-form {
    display: block;
    padding: 20px;
    width: 30%;
    background-color: var(--base);
    margin: auto;
}

.login-form label {
    color: var(--white);
    font-size: 24px;
    width: 100%;
}

.entry {
    width: 75%;
    display: grid;
    margin: 20px auto;

}

.entry input,
.entry button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.entry button {
    color: var(--base);
    background-color: var(--white);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.entry img {
    width: 25%;

    margin: auto;
    margin-bottom: 50px;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--base);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 100px;
}

.entry a {
    color: var(--white);
    font-size: 20px;

}

#error {
    color: var(--white);
    background-color: #ff0000;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    font-size: 18px;
    width: 75%;
    padding: 5px;
    display: none;
}

@keyframes scale {
    0% {
        opacity: 0%;
        transform: scale(0.1);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

#error {
    animation: scale 0.5s;
}

@media (max-width: 1080px) {
    .login-form {
        width: 90%;
    }
}

/* I N D E X */

main {
    background-color: #fdfff5;
    display: flex;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
    box-shadow: 0 0 4px 2px #00000025;
    border-radius: 10px;
}



.info,
main form {
    width: 50%;
    gap: 25px;
}

main form {
    background-color: var(--base);
    padding: 25px;
    border-radius: 10px;
}

main form * {
    width: 100%;
}

main form .entry {
    margin: 0;
    width: 100%;
}

main form .entry input,
main form select,
#book, .send {
    margin: 0;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}

main form .entry label {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 10px;
}

#book, .send {
    background-color: #00cc2c;
    color: var(--white);
    margin-bottom: 20px;

}

@keyframes fadein {
    0% {
        opacity: 0%;
        transform: translateY(-10px);
    }

    100% {
        opacity: 100%;

    }
}

main,
.login-form,
.rest {
    animation: fadein 1s;
}


@media (max-width: 1080px) {
    main {
        display: block;
        width: 100%;
    }

    .info,
    main form {
        width: 100%;
    }
}

/* R E S T A U R A N T S */

.rest {
    background-color: var(--titan);
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    max-width: 80%;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: var(--shadow);
}



.rest img {
    float: left;
    width: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

.a-btn {
    color: var(--white);
    background-color: var(--base);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    margin: 25px 0;
    

}


@media (max-width: 1080px) {
    .rest{
        max-width: 100%;
    }

    .rest img{
        width: 200px;
        margin-bottom: 10px;
    }

    .a-btn{
        font-size: 16px;
    }
}

/* DIALOG WINDOW */

#notification {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    place-content: center;
    min-height: 100vh;
    background-color: #00000050;
    display: none;
}

#notification .content {
    width: 33%;
    min-height: 33vh;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: var(--titan);
    border-radius: 10px;
    padding: 25px 10px;
    animation: fadein 1s;
}

#notification span.material-icons {
    font-size: 45px;
    color: var(--green);
}

#notification h1 {
    color: var(--green);
    margin-bottom: 15px;
}

#notification p {
    padding-bottom: 10px;
    font-size: 20px;
}

#rest-p {
    font-weight: bold;
    letter-spacing: 3px;
}

#date-time-p {
    font-style: italic;
}

.text {
    margin: 30px auto;
}

.content button {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 100px;

}

@media (max-width: 1080px) {
    #notification .content {
        width: 70%;
    }
}


/* C O N T A C T S */

.contacts{
    background-color: unset;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 90%;
    gap: 30px;
    place-content: center;
}

.c-card{
    margin: 10px auto;
    background-color: var(--base);
    border-radius: 10px;
    width: 100%;
    height: 25vh;
    text-align: center;
    place-content: center;
    animation: fadein 1s;
}

.c-card *{
    color: var(--white);
    margin: 10px;
}

.c-card p{
    font-size: 24px;
}

.c-card h1{
    letter-spacing: 3px;
}

.c-card div{
    margin-top: 30px;
}

.a-contact-btn{
    background-color: var(--titan);
    color: var(--base);
    padding: 10px 15px;
    text-decoration: none;
    margin: 40px;
    border-radius: 10px;
}

.advise{
    background-color: var(--base);
    width: 30%;
    margin: 25px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    animation: fadein 1s;
}

.advise textarea{
    height: 20vh;
}

.advise textarea, input, button {
    border-radius: 10px;
}

.advise label, .advise h3{
    color: var(--white);
}

.advise .entry{
    text-align: left;
}

.send{
    width: 75%;
}

@media (max-width: 1080px){
    .contacts{
        grid-template-columns: repeat(1, 1fr);
    }

    .c-card{
        height: 30vh;
        
    }

    .c-card *{
        font-size: 20px;
    }

    .advise{
        width: 95%;
    }
}