*{
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    transition: all 0.5s;
    padding: 0;
    margin: 0;
}

:root{
    --base: #202020;
    --white: #ffffff;
    --titan: #e5e4e2;
}

/* H  E  A  D  E  R */

header{
    background-color: var(--base);
    display: flex;
    justify-content: space-between;
    
    padding: 10px 20px;
}

header img{
    width: 60px;
}

nav{
    display: flex;
    height: 100%;
    place-content: center;
    gap: 25px;
    
}

nav a{
    font-size: 24px;
    text-decoration: none;
    color: var(--white);
}





.login-body{
    background-color: #e8e8e8;
    place-content: center;
    min-height: 100vh;
}

.login-form{
    display: block;
    padding: 20px;
    width: 30%;
    background-color: var(--base);
    margin: auto;
}

.login-form label{
    color: var(--white);
    font-size: 24px;
    width: 100%;
}

.entry{
    width: 75%;
    display: grid;
    margin: 20px auto;
    
}

.entry input, .entry button{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.entry button{
    color: var(--base);
    background-color: var(--white);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.entry img{
    width: 25%;
    
    margin: auto;
    margin-bottom: 50px;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--base);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 100px;
}

.entry a{
    color: var(--white);
    font-size: 20px;
    
}

#error{
    color: var(--white);
    background-color: #ff0000;
    text-align: center;
    margin: auto;
    border-radius: 100px;
    font-size: 18px;
    width: 75%;
    padding: 5px;
    display: none;
}

@keyframes scale{
    0%{
        opacity: 0%;
        transform: scale(0.1);
    }

    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

#error{
    animation: scale 0.5s;
}

/* I N D E X */

main{
    background-color: #fdfff5;
    display: flex;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
    box-shadow: 0 0 4px 2px #00000025;
    border-radius: 10px;
}



.info, main form{
    width: 50%;
    gap: 25px;
}

main form{
    background-color: var(--base);
    padding: 25px;
    border-radius: 10px;
}

main form * {
    width: 100%;
}

main form .entry{
    margin: 0;
    width: 100%;
}

main form .entry input, main form select, #book{
    margin: 0;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
}

main form .entry label{
    color: var(--white);
    font-size: 20px;
    margin-bottom: 10px;
}

#book{
    background-color: #00cc2c;
    color: var(--white);
    margin-bottom: 20px;

}

@keyframes fadein{
    0%{
        opacity: 0%;
        transform: translateY(-10px);
    }

    100%{
        opacity: 100%;
        
    }
}

main, .login-form, .rest{
    animation: fadein 1s;
}

/* R E S T A U R A N T S */

.rest{
    background-color: var(--titan);
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    max-width: 80%;
    overflow: hidden;
    margin: 20px auto;
}



.rest img{
    float: left;
    width: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

.a-btn{
    color: var(--white);
    background-color: var(--base);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 0;
    position: absolute;

}

#notification{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    place-content: center;
    min-height: 100vh;
    background-color: #00000050;
}

#notification .content{
    width: 33%;
    margin: auto;
    align-items: center;
    text-align: center;
}